<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/signup.css') }}">
    <script src="https://kit.fontawesome.com/6645087008.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>



<body>
    <div class="section">
        <div class="container">
            <div class="row full-height justify-content-center">
                <div class="col-12 text-center align-self-center py-5">
                    <div class="section pb-5 pt-5 pt-sm-2 text-center">
                        <h1>Are You A...</h1>
                        <h6 class="mb-0 pb-3"><span>Consumer </span><span>Business</span></h6> <input class="checkbox" type="checkbox" id="reg-log" name="reg-log" /> <label for="reg-log"></label>
                        <div class="card-3d-wrap mx-auto">
                            <div class="card-3d-wrapper">

                                <div class="card-front" style="padding-top: 700px;">
                                    <div class="center-wrap">
                                        <div class="section text-center">
                                            <h4 class="mb-4 pb-3">Consumer sign-up</h4>
                                            <i class="fa-solid fa-leaf fa-2xl col-md-8 text-center logo" style="color: #28763c;"></i>
                                            <form action="/register-client" method="POST">
                                                <div class="form-group">
                                                    <input type="text" name="logeuser" class="form-style" placeholder="Your Username" id="logeeuser" autocomplete="none">
                                                    <i class="input-icon fa fa-at"></i>
                                                </div>


                                                <div class="form-group">
                                                    <input type="email" name="logemail" class="form-style" placeholder="Your Email" id="logemail" autocomplete="none">
                                                    <i class="input-icon fa fa-at"></i>
                                                </div>
                                                <div class="form-group mt-2">
                                                    <input type="password" name="logpass" class="form-style" placeholder="Your Password" id="logpass" autocomplete="none">
                                                    <i class="input-icon fa fa-lock"></i>
                                                </div>
                                                <button type="submit" name="client-btn" class="btn mt-4">Signup</button>
                                            </form>
                                            <h7 class="mb-4 pb-3">Already have an account? <a href="index">Login
                                                    In</a></h7>
                                        </div>
                                    </div>
                                </div>

                                <div class="card-back" style="padding-top: 700px;">
                                    <div class="center-wrap">
                                        <div class="section text-center">
                                            <h4 class="mb-4 pb-3">Business sign-up</h4>
                                            <i class="fa-solid fa-leaf fa-2xl col-md-8 text-center logo" style="color: #28763c;"></i>
                                            <form method="POST" action="/register-company">
                                                <div class="form-group">
                                                    <input type="text" name="company_name" class="form-style" placeholder="Company Name" id="company_name" autocomplete="none">
                                                    <i class="input-icon fa fa-user"></i>
                                                </div>
                                                <div class="form-group mt-2">
                                                    <input type="text" name="location" class="form-style" placeholder="Location" id="location" autocomplete="none">
                                                    <i class="input-icon fa fa-map-marker-alt"></i>
                                                </div>
                                                <div class="form-group mt-2">
                                                    <input type="text" name="website" class="form-style" placeholder="Website" id="website" autocomplete="none">
                                                    <i class="input-icon fa fa-globe"></i>
                                                </div>
                                                <div class="form-group mt-2">
                                                    <textarea name="about" class="form-style" placeholder="About" id="about"></textarea>
                                                </div>
                                                <div class="form-group mt-2">
                                                    <input type="number" name="phone_number" class="form-style" placeholder="Phone Number" id="phone_number" autocomplete="none">
                                                    <i class="input-icon fa fa-phone"></i>
                                                </div>
                                                <div class="form-group mt-2">
                                                    <input type="password" name="password" class="form-style" placeholder="Password" id="password" autocomplete="none">
                                                    <i class="input-icon fa fa-lock"></i>
                                                </div>
                                                <div class="form-group mt-2">
                                                    <input type="email" name="email" class="form-style" placeholder="Email" id="email" autocomplete="none">
                                                    <i class="input-icon fa fa-at"></i>
                                                </div>
                                                <input type="submit" name="company-btn" value="Signup" class="btn btn-primary mt-4">
                                            </form>
                                            <h7 class="mb-4 pb-3">Already have an account? <a href="{{ url_for('home') }}">Login In</a></h7>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>