<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/user.css') }}">
    <title>Document</title>
</head>
<body>
    
<div class="wrapper">
	<div class="header">Stores</div>

	<div class="cards_wrap">
		<div class="card_item">
			<div class="card_inner">
				<img src="/Users/Vrishank/Desktop/Hack_NC /hackstate/templates/green.jpeg">
				<div class="store_name">Green Market</div>
				<div class="location">Durham,NC</div>
				<div class="description">A grocery store specializing in locally-sourced, organic produce and sustainable household products..</div>
			</div>
		</div>
		<div class="card_item">
			<div class="card_inner">
				<img src="/Users/Vrishank/Desktop/Hack_NC /hackstate/templates/green.jpeg">
				<div class="store_name">Eco Essentials</div>
				<div class="location">Cary,NC</div>
				<div class="description">A store selling eco-friendly products, from reusable bags and water bottles to bamboo utensils and natural cleaning supplies.</div>
			</div>
		</div>
		<div class="card_item">
			<div class="card_inner">
				<img src="/Users/Vrishank/Desktop/Hack_NC /hackstate/templates/green.jpeg">
				<div class="store_name">The Refillery</div>
				<div class="location">Zebulon,NC</div>
				<div class="description">A shop focused on reducing waste by selling bulk goods like grains, spices, and soaps, encouraging customers to bring their own containers.</div>
			</div>
		</div>
		<div class="card_item">
			<div class="card_inner">
				<img src="/Users/Vrishank/Desktop/Hack_NC /hackstate/templates/green.jpeg">
				<div class="store_name">Sustainably Chic</div>
				<div class="location">Morrisville,NC</div>
				<div class="description"> A boutique offering ethically-made, stylish clothing and accessories made from sustainable materials.</div>
			</div>
		</div>
		</div>
	</div>
</div>  

</body>
</html>